page-login {
    
    
	.background { 
		background-image: url('../assets/imgs/bakıs.jpg');
		background-size: 400px;
		background-repeat: round;
		margin-top: 60px;


	}
	ion-card.card {
		box-shadow: none;
		border-radius: 5px;
		background-color: transparent;
		position: sticky;
		margin-top: 180px;

        
}
	ion-list.list{
	background-color: transparent;

	}
}