page-showmyimages {
    .image-container {
        background-size: cover;
        min-height: 200px;
    }

    .thumb-img {
        padding: 10px;
    }
    .small_button{
        line-height: 5px !important;
        min-height: 24px !important;
        width:100%;
    }
}
