page-showmyimages {
    .image-container {
        background-size: cover;
        min-height: 200px;
    }
    /*
    Gercek fotograflar ile test edilecek
    ion-slide.swiper-slide{
        left: 25%;
    }

    */
    .thumb-img {
        padding: 10px;
    }
}
