
page-signup {
	.background { 
		background-image: url('../assets/imgs/zıp.jpg');
		background-size: 500px;
		background-repeat: round;
		margin-top: 30px;




	}
	ion-card.card {
		box-shadow: none;
		border-radius: 5px;
		background-color: transparent;
		position: sticky;
		margin-top: 230px;
}
	ion-list.list{
	background-color: transparent;

	}
}
