
page-signup {
	.background { 
		background-image: url('../assets/imgs/babe.jpg');
		background-size: cover;


	}
	ion-card.card {
		box-shadow: none;
		border-radius: 5px;
		background-color: transparent;
}
	ion-list.list{
	background-color: transparent;
	}
}
