
<ion-header>

  <ion-navbar>
      <button ion-button menuToggle>
          <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title>My Gardrob</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  
  <ion-segment [(ngModel)]="galleryType">
    <ion-segment-button value="multi">
      Çoklu
    </ion-segment-button>
    <ion-segment-button value="slide">
      Slayt
    </ion-segment-button>
  </ion-segment>


  <div [ngSwitch]="galleryType">
  
    <ion-grid *ngSwitchCase="'multi'">
      <ion-row>
        <ion-col col-6 col-md-4 col-xl-3 *ngFor="let person of dress" >
          <div class="image-container">
              <img src="{{person.picture.thumbnail}}">
          </div>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="images" *ngSwitchCase="'slide'" >
        <ion-slides class="image-slader" loop="true" >
            <ion-slide *ngFor="let person of dress">
              <img src="{{person.picture.thumbnail}}" class="thumb-img" imageViewer>
            </ion-slide>
           </ion-slides>

    </div>

  </div> 
  
 
  <!--
    <ion-slides class="image-slader" loop="true">
      <ion-slide *ngFor="let person of dress">
        <img src="{{person.picture.thumbnail}}" class="thumb-img">
      </ion-slide>
     </ion-slides>
    <ion-list>
        <ion-item *ngFor="let person of dress">
          <ion-avatar item-left>
            <img src="{{person.picture.thumbnail}}">
          </ion-avatar>
        </ion-item>
    </ion-list>
  -->

</ion-content>
